<div class="container">
<h1>Animals</h1>
{{!-- Create a table --}}
<table id="animals-table" class="table table-striped">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th><a class="btn btn-primary" data-bs-toggle="collapse" href="#add-animal-form-ajax">+ Add New</a></th>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.animalID}}>
            <td></td>
            <td>{{this.animalID}}</td>
            <td>{{this.species}}</td>
            <td>{{this.class}}</td>
            <td>{{this.federallyListed}}</td>
            <td>{{this.expected}}</td>
            <td><button type="button" class="btn btn-primary" onclick="deleteAnimal({{this.animalID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

<div class="container">
<form class="collapse" id="add-animal-form-ajax">
    <h2>Add Animal</h2>
    <p><span>*</span> indicates required field.</p>
    <label class="form-label" for="input-species">Species: <span>*</span> </label>
    <input type="text" name="input-species" id="input-species" required>

    <p>
    <label class="form-label" for="input-class">Class: <span>*</span> </label>
    <select class="form-select" name="input-class" id="input-class" required>
        <option value="">Select a Class</option>
        <option value="amphibian">Amphibian</option>
        <option value="bird">Bird</option>
        <option value="fish">Fish</option>
        <option value="mammal">Mammal</option>
        <option value="reptile">Reptile</option>
    </select>
    </p>

    <p>Federally Listed: <span>*</span>
        <input class="form-check-input" type="radio" id="flTrue" name="input-ifl" value="1">
        <label class="form-check-label" for="flTrue">True</label>
        <input class="form-check-input" type="radio" id="flFalse" name="input-ifl" value="0">
        <label class="form-check-label" for="flFalse">False</label>
    </p>

    <p>Is this animal expected here?: <span>*</span>
        <input class="form-check-input" type="radio" id="isExpectedTrue" name="input-isExpected" value="1">
        <label class="form-check-label" for="isExpectedTrue">Yes</label>
        <input class="form-check-input" type="radio" id="isExpectedFalse" name="input-isExpected" value="0">
        <label class="form-check-label" for="isExpectedFalse">No</label>
    </p>
    <p></p>
    <input type="submit">
</form>
</div>

<script src="./js/add-animal.js"></script>
<script src="./js/delete-animal.js"></script>