{{!-- Citation for the following function:
Date: 3/14/2024
Adapted from CS340 Node.js Starter App
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars) --}}

<div class="container">
<h1>Locations</h1>
{{!-- Create a table --}}
<table id="locations-table" class="table table-striped">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th><a class="btn btn-primary" data-bs-toggle="collapse" href="#add-location-form-ajax">+ Add New</a></th>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.locationID}}>
            <td></td>
            <td>{{this.locationID}}</td>
            <td>{{this.parkName}}</td>
            <td><button type="button" class="btn btn-primary" onclick="deleteLocation({{this.locationID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

<div class="container">
<form class="collapse" id="add-location-form-ajax">
    <h2>Add Location</h2>
    <p><span>*</span> indicates required field.</p>
    <label class="form-label" for="input-parkName">Park Name: <span>*</span> </label>
    <input type="text" name="input-parkName" id="input-parkName" required>
    <input type="submit">
</form>
</div>

<script src="./js/add-location.js"></script>
<script src="./js/delete-location.js"></script>