{{!-- Citation for the following function:
Date: 3/14/2024
Adapted from CS340 Node.js Starter App
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars) --}}

<div class="container">
<h1>Observers</h1>
{{!-- Create a table --}}
<table id="observers-table" class="table table-striped">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th><a class="btn btn-primary" data-bs-toggle="collapse" href="#add-observer-form-ajax">+ Add New</a></th>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.observerID}}>
            <td></td>
            <td>{{this.observerID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.emailAddress}}</td>
            <td><button type="button" class="btn btn-primary" onclick="deleteObserver({{this.observerID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

<div class="container">
<form class="collapse" id="add-observer-form-ajax">
    <h2>Add Observer</h2>
    <p><span>*</span> indicates required field.</p>
    <label for="input-name">Name: <span>*</span> </label>
    <input type="text" name="input-name" id="input-name" required>
    <label for="input-phoneNumber">Phone Number: <span>*</span> </label>
    <input type="text" name="input-phoneNumber" id="input-phoneNumber" required>
    <label for="input-emailAddress">Email Address: <span>*</span> </label>
    <input type="email" name="input-emailAddress" id="input-emailAddress" required>
    <input type="submit">
</form>
</div>

<script src="./js/add-observer.js"></script>
<script src="./js/delete-observer.js"></script>