{{!-- Citation for the following function:
Date: 3/14/2024
Adapted from CS340 Node.js Starter App
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars) --}}

<div class="container">
<h1>Observer/Animal Connections</h1>
{{!-- Create a table --}}
<table id="observer-animals-table" class="table table-striped">

    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th><a class="btn btn-primary" data-bs-toggle="collapse" href="#add-observer-animal-form-ajax">+ Add New</a></th>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For each row in the data --}}
        {{#each data}}
            <tr data-value={{this.observerAnimalID}}>
                <td></td>
                <td>{{this.observerAnimalID}}</td>
                <td>{{this.observerID}}</td>
                <td>{{this.animalID}}</td>
                <td>{{this.expertiseLevel}}</td>
                <td>{{this.timeOfDayPreference}}</td>
                <td><a class="btn btn-primary btn-edit" data-bs-toggle="collapse" href="#update-observer-animal-form-ajax">Edit</a></td>
                <td><button type="button" class="btn btn-primary"onclick="deleteObserverAnimal({{this.observerAnimalID}})">Delete</button></td>
            </tr>
        {{/each}}
    </tbody>

</table>
</div>

<div class="container">
{{!-- Form to add a record to the table  --}}
<form class="collapse" id="add-observer-animal-form-ajax">
    <h2>Add Observer/Animal Connection</h2>
    <p><span>*</span> indicates required field.</p>

    <label class="form-label" for="input-observerID">Observer: <span>*</span> </label>
    <select class="form-select" name="input-observerID" id="input-observerID" required>
        <option value="">Select an Observer</option>
        {{#each observers}}
        <option value="{{this.observerID}}">{{this.name}}</option>
        {{/each}}
    </select>
    
    <label class="form-label" for="input-animalID">Animal: <span>*</span> </label>
    <select class="form-select" name="input-animalID" id="input-animalID" required>
        <option value="">Select an Animal</option>
        {{#each animals}}
        <option value="{{this.animalID}}">{{this.species}}</option>
        {{/each}}
    </select>
    <p></p>
    <label class="form-label" for="input-expertiseLevel">Expertise Level: <span>*</span></label>
    <select class="form-select" name="input-expertiseLevel" id="input-expertiseLevel" required>
        <option value="">Select an Expertise Level</option>
        <option value="novice">Novice</option>
        <option value="intermediate">Intermediate</option>
        <option value="expert">Expert</option>
    </select>
    <p></p>
    <label class="form-label" for="input-timeOfDayPreference">Time of Day Preference: <span>*</span></label>
    <select class="form-select" name="input-timeOfDayPreference" id="input-timeOfDayPreference" required>
        <option value="">Select a Time of Day Preference</option>
        <option value="morning">Morning</option>
        <option value="noon">Noon</option>
        <option value="night">Night</option>
    </select>
    <p></p>
    <input type="submit">
</form>
</div>

<div class="container">
{{!-- Form to update a record to the table  --}}
<form class="collapse" id="update-observer-animal-form-ajax">
    <h2>Update Observer/Animal Connection</h2>
    <p><span>*</span> indicates required field.</p>

    <p>observerAnimal ID: </p>
    <p id="input-observerAnimalID-update"></p>

    <label class="form-label" for="input-expertiseLevel-update">Expertise Level: <span>*</span></label>
    <select class="form-select" name="input-expertiseLevel-update" id="input-expertiseLevel-update" required>
        <option value="">Select an Expertise Level</option>
        <option value="novice">Novice</option>
        <option value="intermediate">Intermediate</option>
        <option value="expert">Expert</option>
    </select>
    <p></p>
    <label class="form-label" for="input-timeOfDayPreference-update">Time of Day Preference: <span>*</span></label>
    <select class="form-select" name="input-timeOfDayPreference-update" id="input-timeOfDayPreference-update" required>
        <option value="">Select a Time of Day Preference</option>
        <option value="morning">Morning</option>
        <option value="noon">Noon</option>
        <option value="night">Night</option>
    </select>
    <p></p>

    <input type="submit">

</form>
</div>

<script>
    // Get all "Edit" buttons
const editButtons = document.querySelectorAll('tbody .btn-edit');

    // Add click event listener to each "Edit" button
    editButtons.forEach(button => {
        button.addEventListener('click', function() {
            // Get the corresponding row
            const row = this.closest('tr');

            // Extract data from the row
            const observerAnimalID = row.dataset.value;
            const expertiseLevel = row.cells[4].textContent;
            const timeOfDayPreference = row.cells[5].textContent;

            // Populate the edit form fields with the extracted data
            document.getElementById('input-observerAnimalID-update').innerText = observerAnimalID;
            document.getElementById('input-expertiseLevel-update').value = expertiseLevel;
            document.getElementById('input-timeOfDayPreference-update').value = timeOfDayPreference;

        });
    });

</script>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add-observer-animal.js"></script>
<script src="./js/update-observer-animal.js"></script>
<script src="./js/delete-observer-animal.js"></script>