<h1>Observers</h1>
{{!-- Create a table --}}
<table id="observers-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.observerID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.emailAddress}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add Observer</h2>
<form id="add-observer-form-ajax">
    <p>* indicates required field.</p>
    <label for="input-name">Name: * </label>
    <input type="text" name="input-name" id="input-name" required>
    <label for="input-phoneNumber">Phone Number: * </label>
    <input type="text" name="input-phoneNumber" id="input-phoneNumber" required>
    <label for="input-emailAddress">Email Address: * </label>
    <input type="email" name="input-emailAddress" id="input-emailAddress" required>
    <input type="submit">
</form>

<script src="./js/add-observer.js"></script>