{{!-- Create a table --}}
<table id="sightings-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.sightingID}}</td>
            <td>{{this.locationID}}</td>
            <td>{{this.observerID}}</td>
            <td>{{this.animalID}}</td>
            <td>{{this.sightingTime}}</td>
            <td>{{this.sightingDate}}</td>
            <td>{{this.weather}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>