{{!-- Citation for the following function:
Date: 3/14/2024
Adapted from CS340 Node.js Starter App
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars) --}}

<div class="container">
<h1>Sightings</h1>
{{!-- Create a table --}}
<table id="sightings-table" class="table table-striped">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th><a class="btn btn-primary" data-bs-toggle="collapse" href="#add-sighting-form-ajax">+ Add New</a></th>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.sightingID}}>
            <td></td>
            <td>{{this.sightingID}}</td>
            <td>{{this.locationID}}</td>
            <td>{{this.observerID}}</td>
            <td>{{this.animalID}}</td>
            <td>{{this.sightingTime}}</td>
            <td>{{this.sightingDate}}</td>
            <td>{{this.weather}}</td>
            <td><button type="button" class="btn btn-primary" onclick="deleteSighting({{this.sightingID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

<div class="container">
{{!-- Form to add a record to the table  --}}
<form class="collapse" id="add-sighting-form-ajax">
    <h2>Add Sighting</h2>
    <p><span>*</span> indicates required field.</p>
    <label for="input-locationID">Location: <span>*</span> </label>
    <select class="form-select" name="input-locationID" id="input-locationID" required>
        <option value="">Select a Location</option>
        {{#each locations}}
        <option value="{{this.locationID}}">{{this.parkName}}</option>
        {{/each}}
    </select>
    
    <label for="input-observerID">Observer: </label>
    <select class="form-select" name="input-observerID" id="input-observerID">
        <option value="">Select an Observer (optional) </option>
        {{#each observers}}
        <option value="{{this.observerID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-animalID">Animal: <span>*</span> </label>
    <select class="form-select" name="input-animalID" id="input-animalID" required>
        <option value="">Select an Animal</option>
        {{#each animals}}
        <option value="{{this.animalID}}">{{this.species}}</option>
        {{/each}}
    </select>
    <p>
        <label for="input-sightingTime">Time Observed: <span>*</span> </label>
        <input type="time" name="input-sightingTime" id="input-sightingTime" required>
    </p>
    <p>
        <label for="input-sightingDate">Date Observed: <span>*</span> </label>
        <input type="date" name="input-sightingDate" id="input-sightingDate" required>
    </p>
        <p>
        <label for="input-weather">Weather: <span>*</span> </label>
        <select class="form-select" name="input-weather" id="input-weather" required>
            <option value="">Select Weather Condition</option>
            <option value="rain">Rain</option>
            <option value="snow">Snow</option>
            <option value="clear">Clear</option>
            <option value="fog">Fog</option>
        </select>
    </p>
    <input type="submit">
</form>
</div>



{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add-sighting.js"></script>
<script src="./js/delete-sighting.js"></script>